---
Language: Cpp
Standard: "c++03"
AlignEscapedNewlines: DontAlign
AllowShortBlocksOnASingleLine: Always
AllowShortFunctionsOnASingleLine: None
AllowAllParametersOfDeclarationOnNextLine: false
AllowAllArgumentsOnNextLine: false
AlwaysBreakTemplateDeclarations: Yes
AlwaysBreakBeforeMultilineStrings: true
SpaceBeforeParens: Never
SpaceInEmptyParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpacesInAngles: Leave
SpacesInContainerLiterals: false
SpaceAfterCStyleCast: false
SpaceAfterTemplateKeyword: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeCpp11BracedList: false
SpaceBeforeRangeBasedForLoopColon: true
SpaceAfterRangeBasedForLoopColon: true
SpaceBeforeSquareBrackets: false
SpaceWithinSquareBrackets: false
SpaceBeforeComma: false
SpaceAfterComma: true
SpaceAfterColon: true
SpaceBeforeColon: false
SpaceBeforeSemicolon: false
SpaceAfterSemicolon: true
SpaceInEmptyBlocks: false
SpaceBeforeLambdaBody: false
