/ {
  macros {
    ZMK_MACRO(dot_spc,
        wait-ms = <0>;
        tap-ms = <5>;
        bindings = <&kp DOT &kp SPACE &sk LSHFT>;
        )

    ZMK_MACRO(win_sleep,
        wait-ms = <100>;
        tap-ms = <5>;
        bindings = <&kp LG(X) &kp U &kp S>;
        )
  };
}
  /* vim: set filetype=c : */

